# app
.env

# mounted volume
sites

development/*
!development/.vscode
!development/apps.json
!development/Makefile
!development/README.md
!development/apps-example.json
!development/installer.sh
!development/vscode-example/

# Pycharm
.idea

# VS Code devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv

# mkpm
/*.tar.gz
.mkpm/mkpm
